
body{
    align-items: center;
}
#textcon{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto auto;
    width:200px;
    background-color:#ffd;
    border-radius: 20px;
    padding:50px 70px;
    box-shadow: 0px 05px 15px rgba(0,0,0,0.25)

}
#org{
    justify-content: center;
    backdrop-filter: blur(5);
    background-color:#fff;
    width:240px;
    height:35px;
    color:brown;
    font-family: "Permanent Marker",cursive;
    border-radius: 10px;
    font-size:25px
}
#orgo{
    font-family: Consolas;
    font-size: 29px;
    
}
#mor{
    background-color: lightgreen;
    width:900px;
    height:60px;
    border-radius: 19px;
    box-shadow: 0px 05px 15px rgba(0,0,0,0.25);
    margin:auto auto;
    overflow: hidden;
}
#res{
    text-align: center;   
}
#polo,#reset{
    background-color: rgb(233, 153, 6);
    border-radius: 11px;
    border:2px solid black;
    color:white;
    padding:5px 7px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}
#polo:hover,#reset:hover{
    transform: scale(1.10);
    transition: .25s;
}
#polo:active,#reset:active{
    opacity:0.5;
}
#out{
    font-family: sans-serif;
    font-size: 35px;
}

